version: '3'
services:
  postgresql:
    image: 'postgres:13-alpine'
    container_name: 'async-auth-postgresql'
    environment:
      POSTGRES_PASSWORD: 'not-secure'
    ports:
      - '5432:5432'
    networks:
      - async-auth-network
    volumes:
      - '~/docker-data/async-auth-postgres:/var/lib/postgresql/data'

networks:
  async-auth-network:
    driver: bridge

volumes:
  postgres:
